.header {
  height: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &-logo {
    height: 130px;
    width: 130px;
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 5px;
    cursor: pointer;
  }
  &-canvas {
    height: 100%;
    width: 100%;
  }
}
